@model RentACar.Models.AboutPageViewModel

<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- Subheader Section -->
    <section id="subheader" class="jarallax text-light">
        <img src="/uploads/subheader/@Model.SubHeader.BackgroundImage" class="jarallax-img" alt="Subheader Background">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>@Model.SubHeader.Title</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- Subheader close -->
    <!-- About Text & Stats -->
 

<section>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInRight">
                <h2>@Model.Intro.Title</h2>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                @Model.Intro.Description
            </div>
        </div>
        <div class="spacer-double"></div>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="@Model.Intro.CompletedOrdersValue" data-speed="3000">0</h3>
                    @Model.Intro.CompletedOrdersLabel
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="@Model.Intro.HappyCustomersValue" data-speed="3000">0</h3>
                    @Model.Intro.HappyCustomersLabel
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="@Model.Intro.VehiclesFleetValue" data-speed="3000">0</h3>
                    @Model.Intro.VehiclesFleetLabel
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="@Model.Intro.YearsExperienceValue" data-speed="3000">0</h3>
                    @Model.Intro.YearsExperienceLabel
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Directors Board Section -->
    <section aria-label="section" class="jarallax text-light">
        <img src="@Url.Content("~/uploads/team/" + Model.Board.BackgroundImageUrl)" class="jarallax-img" alt="Board Background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>@Model.Board.Description</h2>   <!-- Dinamik Description -->
                    <div class="spacer-20"></div>
                </div>

                @foreach (var member in Model.TeamMembers)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                        <div class="f-profile text-center">
                            <div class="fp-wrap f-invert">
                                <div class="fpw-overlay">
                                    <div class="fpwo-wrap">
                                        <div class="fpwow-icons">
                                            @if (!string.IsNullOrEmpty(member.FacebookUrl))
                                            {
                                                <a href="@member.FacebookUrl"><i class="fa fa-facebook fa-lg"></i></a>
                                            }
                                            @if (!string.IsNullOrEmpty(member.TwitterUrl))
                                            {
                                                <a href="@member.TwitterUrl"><i class="fa fa-twitter fa-lg"></i></a>
                                            }
                                            @if (!string.IsNullOrEmpty(member.LinkedinUrl))
                                            {
                                                <a href="@member.LinkedinUrl"><i class="fa fa-linkedin fa-lg"></i></a>
                                            }
                                            @if (!string.IsNullOrEmpty(member.PinterestUrl))
                                            {
                                                <a href="@member.PinterestUrl"><i class="fa fa-pinterest fa-lg"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="fpw-overlay-btm"></div>
                                <img src="@Url.Content("~/uploads/team/" + member.ImageUrl)" class="fp-image img-fluid" alt="@member.FullName">
                              </div>
                            <h4>@member.FullName</h4>
                            @member.Position
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
     <!-- Features Highlight Section -->
<section aria-label="section">
    <div class="container">
        <div class="row align-items-center">
            <!-- Başlıq -->
            <div class="col-lg-6 offset-lg-3 text-center">
                @if (Model.HomeFeatureSection.Title != null)
                {
                    <h2>@Model.HomeFeatureSection.Title</h2>
                    <p>@Model.HomeFeatureSection.Description</p>
                }
                <div class="spacer-20"></div>
            </div>
            <div class="clearfix"></div>
            <!-- Sol tərəf (ilk 2 feature) -->
            <div class="col-lg-3">
                @foreach (var feature in Model.Features.Take(2))
                {
                    <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                        <i class="fa bg-color @feature.Icon"></i>
                        <div class="d-inner">
                            <h4>@feature.Title</h4>
                            <p>@feature.Description</p>
                        </div>
                    </div>
                }
            </div>

            <!-- Orta şəkil -->
            <div class="col-lg-6 text-center">
                @if (Model.Features.Any(f => f.ImageUrl != null))
                {
                    <img src="@Model.Features.FirstOrDefault(f => f.ImageUrl != null)?.ImageUrl"
                         alt="Car Feature"
                         class="img-fluid wow fadeInUp">
                }
                else
                {
                    <img src="~/images/misc/car.png" alt="Default Car Feature" class="img-fluid wow fadeInUp">
                }
            </div>

            <!-- Sağ tərəf (sonrakı 2 feature) -->
            <div class="col-lg-3">
                @foreach (var feature in Model.Features.Skip(2).Take(2))
                {
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInLeft" data-wow-delay="1s">
                        <i class="fa bg-color @feature.Icon"></i>
                        <div class="d-inner">
                            <h4>@feature.Title</h4>
                            <p>@feature.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

    <!-- Tabs Section -->
<section id="section-img-with-tab">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-7">
                <h2>@Model.QualityTabItems.FirstOrDefault()?.HeadTitle</h2>
                <div class="spacer-20"></div>

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    @for (int i = 0; i < Model.QualityTabItems.Count; i++)
                    {
                        var tab = Model.QualityTabItems[i];
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(tab.IsActive ? "active" : "")"
                                    id="pills-@i-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-@i"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-@i"
                                    aria-selected="@(tab.IsActive.ToString().ToLower())">
                                @tab.Title
                            </button>
                        </li>
                    }
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    @for (int i = 0; i < Model.QualityTabItems.Count; i++)
                    {
                        var tab = Model.QualityTabItems[i];
                        <div class="tab-pane fade @(tab.IsActive ? "show active" : "")"
                             id="pills-@i"
                             role="tabpanel"
                             aria-labelledby="pills-@i-tab">
                            <p>@tab.Content</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="image-container col-md-6 pull-right"
         data-bgimage="url(/images/background/5.jpg) center"></div>
</section>


    <!-- Call To Action Section -->

<section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light"
         style="@(string.IsNullOrEmpty(Model.CallToAction.BackgroundImage) ? "" : $"background-image:url('{Model.CallToAction.BackgroundImage}'); background-size:cover; background-position:center;")">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h2 class="s2">@Model.CallToAction.Heading</h2>
            </div>

            <div class="col-lg-4 text-lg-center text-sm-center">
                <a href="https://wa.me/994559999076" target="_blank" class="phone-num-big text-decoration-none">
                    <i class="@(Model.CallToAction.Icon ?? "fa fa-phone")"></i>
                    <span class="pnb-text">
                        @Model.CallToAction.ButtonText
                    </span>
                    <span class="pnb-num">
                        @Model.CallToAction.Phone
                    </span>
                </a>
                <a href="https://wa.me/994559999076" target="_blank" class="btn-main">
                    @Model.CallToAction.ButtonText
                </a>
            </div>
        </div>
    </div>
</section>




<!-- content close -->

<a href="#" id="back-to-top"></a>
